{% extends "base.html" %}

{% block title %}
Character List
{% endblock %}
{% block page_title %}
Character List
{% endblock %}

{% block body %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Player Username</th>
                <th>Character Name</th>
                <th>Date Approved</th>
                <th>Status</th>
                <th>Money (gp)</th>
                <th>XP (# games)</th>
            </tr>
        </thead>
        <tbody>
            {% for chr in characters %}
            <tr>
                <td>{{chr.player}}</td>
                <td>{{chr.name}}</td>
                <td>{{chr.approved}}</td>
                <td>{{chr.get_status_display}}</td>
                <td>{{chr.money}}</td>
                <td>{{chr.xp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}