{% extends "base.html" %}

{% block title %}
Public Ledger
{% endblock %}
{% block page_title %}
Public Ledger
{% endblock %}

{% block body %}

{% if message %}
<div class="alert {% if error %}alert-danger{% else %}alert-primary{% endif %} mb-3 fw-bold">
    {{message}}
</div>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{log.created}}</td>
            <td>{{log.note}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
