:root {
    --superdarkgray: #181818;
    --offwhite: #b0b0b0;
}

table {
    border: black 1px solid;
    border-collapse: collapse;
    
    th, td {
        border: black 1px solid;
        border-collapse: collapse;
        padding: 0 10px;
        text-align: left;
    }
}

body {
    background-color: var(--superdarkgray);
    color: var(--offwhite);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 80rem;
}

.content {
    flex: 2 2 auto;
}

#footer {
    padding: 2rem 0;
}

.dropdown-menu {
    background-color: #303030;
    color: var(--offwhite);
}
.dropdown-item {
    color: var(--offwhite);

    &:hover {
        background-color: #444444;
        color: var(--offwhite)
    }
}

input, select {
    background-color: #303030;
    color: var(--offwhite);
}